<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>TaskHelper</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>TaskHelper</display-name>
    <servlet-name>TaskHelper</servlet-name>
    <servlet-class>tx.helper.servlet.TaskHelperServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TaskHelper</servlet-name>
    <url-pattern>/taskHelper</url-pattern>
  </servlet-mapping>
  <listener>
    <display-name>TaskHelperListener</display-name>
    <listener-class>tx.helper.servlet.TaskHelperListener</listener-class>
  </listener>
  <servlet>
    <description></description>
    <display-name>CheckUserServlet</display-name>
    <servlet-name>CheckUserServlet</servlet-name>
    <servlet-class>tx.helper.servlet.CheckUserServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CheckUserServlet</servlet-name>
    <url-pattern>/checkUser</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>WXAuth2Servlet</display-name>
    <servlet-name>WXAuth2Servlet</servlet-name>
    <servlet-class>tx.helper.servlet.WXAuth2Servlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>WXAuth2Servlet</servlet-name>
    <url-pattern>/wxAuth2</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>QueryLoginServlet</display-name>
    <servlet-name>QueryLoginServlet</servlet-name>
    <servlet-class>tx.helper.servlet.QueryLoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>QueryLoginServlet</servlet-name>
    <url-pattern>/queryLogin</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>QueryCallsServlet</display-name>
    <servlet-name>QueryCallsServlet</servlet-name>
    <servlet-class>tx.helper.servlet.QueryCallsServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>QueryCallsServlet</servlet-name>
    <url-pattern>/queryCalls</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>QueryCustomersServlet</display-name>
    <servlet-name>QueryCustomersServlet</servlet-name>
    <servlet-class>tx.helper.servlet.QueryCustomersServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>QueryCustomersServlet</servlet-name>
    <url-pattern>/queryCustomers</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>QueryBrandsServlet</display-name>
    <servlet-name>QueryBrandsServlet</servlet-name>
    <servlet-class>tx.helper.servlet.QueryBrandsServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>QueryBrandsServlet</servlet-name>
    <url-pattern>/queryBrands</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdateCallStateServlet</display-name>
    <servlet-name>UpdateCallStateServlet</servlet-name>
    <servlet-class>tx.helper.servlet.UpdateCallStateServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateCallStateServlet</servlet-name>
    <url-pattern>/updateCallState</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdateCallInfoServlet</display-name>
    <servlet-name>UpdateCallInfoServlet</servlet-name>
    <servlet-class>tx.helper.servlet.UpdateCallInfoServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateCallInfoServlet</servlet-name>
    <url-pattern>/updateCallInfo</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>QueryStaticsServlet</display-name>
    <servlet-name>QueryStaticsServlet</servlet-name>
    <servlet-class>tx.helper.servlet.QueryStaticsServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>QueryStaticsServlet</servlet-name>
    <url-pattern>/queryStatics</url-pattern>
  </servlet-mapping>
</web-app>