<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>TaskHelperService</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>QueryTokenServlet</display-name>
    <servlet-name>QueryTokenServlet</servlet-name>
    <servlet-class>tx.helper.servlet.QueryTokenServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>QueryTokenServlet</servlet-name>
    <url-pattern>/queryToken</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CheckUserServlet</display-name>
    <servlet-name>CheckUserServlet</servlet-name>
    <servlet-class>tx.helper.servlet.CheckUserServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CheckUserServlet</servlet-name>
    <url-pattern>/checkUser</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LoginServlet</display-name>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>tx.helper.servlet.LoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/login</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>QueryLog</display-name>
    <servlet-name>QueryLog</servlet-name>
    <servlet-class>tx.helper.servlet.QueryLog</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>QueryLog</servlet-name>
    <url-pattern>/queryLog</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>QueryEmployeeInfo</display-name>
    <servlet-name>QueryEmployeeInfo</servlet-name>
    <servlet-class>tx.helper.servlet.QueryEmployeeInfo</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>QueryEmployeeInfo</servlet-name>
    <url-pattern>/queryEmployeeInfo</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>QueryCustomers</display-name>
    <servlet-name>QueryCustomers</servlet-name>
    <servlet-class>tx.helper.servlet.QueryCustomers</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>QueryCustomers</servlet-name>
    <url-pattern>/queryCustomers</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>QueryBrands</display-name>
    <servlet-name>QueryBrands</servlet-name>
    <servlet-class>tx.helper.servlet.QueryBrands</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>QueryBrands</servlet-name>
    <url-pattern>/queryBrands</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>QueryCalls</display-name>
    <servlet-name>QueryCalls</servlet-name>
    <servlet-class>tx.helper.servlet.QueryCalls</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>QueryCalls</servlet-name>
    <url-pattern>/queryCalls</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ActiveCall</display-name>
    <servlet-name>ActiveCall</servlet-name>
    <servlet-class>tx.helper.servlet.ActiveCall</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ActiveCall</servlet-name>
    <url-pattern>/activeCall</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>QueryActiveCall</display-name>
    <servlet-name>QueryActiveCall</servlet-name>
    <servlet-class>tx.helper.servlet.QueryActiveCall</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>QueryActiveCall</servlet-name>
    <url-pattern>/queryActiveCall</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>QueryStats</display-name>
    <servlet-name>QueryStats</servlet-name>
    <servlet-class>tx.helper.servlet.QueryStats</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>QueryStats</servlet-name>
    <url-pattern>/queryStats</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>OnSite</display-name>
    <servlet-name>OnSite</servlet-name>
    <servlet-class>tx.helper.servlet.OnSite</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>OnSite</servlet-name>
    <url-pattern>/onSite</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>OffSite</display-name>
    <servlet-name>OffSite</servlet-name>
    <servlet-class>tx.helper.servlet.OffSite</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>OffSite</servlet-name>
    <url-pattern>/offSite</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UploadPic</display-name>
    <servlet-name>UploadPic</servlet-name>
    <servlet-class>tx.helper.servlet.UploadPic</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UploadPic</servlet-name>
    <url-pattern>/uploadPic</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdateCallServlet</display-name>
    <servlet-name>UpdateCallServlet</servlet-name>
    <servlet-class>tx.helper.servlet.UpdateCallServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateCallServlet</servlet-name>
    <url-pattern>/updateCall</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>QueryNewCalls</display-name>
    <servlet-name>QueryNewCalls</servlet-name>
    <servlet-class>tx.helper.servlet.QueryNewCalls</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>QueryNewCalls</servlet-name>
    <url-pattern>/queryNewCalls</url-pattern>
  </servlet-mapping>
</web-app>